/* CocktailDetailComponent's private CSS styles */

.tails-details {
    padding: 0;
    margin: auto;
    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: space-around center;
}

h2 {
    text-align: center;
}

.cocktail-card {
    margin: 1% 15% 0% 15%;
    background-color: #3f525c;
}

button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}